*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;

  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(128, 128, 128, 0.144);
}

.tableau-style {
  border-collapse: collapse;
  min-width: 1000px;
  min-height: 100px;
  width: auto;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 100px auto;
  border: 2px solid mediumturquoise;
}

thead tr {
  background-color: #1279ba;
  color: white;
  text-align: left;
}

th,
td {
  padding: 15px 20px;
  text-align: center;
  font-size: 20px;
  
}

tbody tr.poste {
    color:#1279ba;
    font-size:10px;
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.692);
}


tbody tr,
td,
th {
  border: 1px solid #ddd;
}
/*
tbody tr:nth-child(even) {
  background-color: #f3f3f3;
}
tbody tr:nth-child(odd) {
  background-color: white;
}
/* Relatif à la navbar supérieure*/

a {
  text-decoration: none;
}

.topnav {
  display: flex;
  justify-content: space-around;
  background-color: #1279ba;
  padding: 20px 80px 20px 80px;
  align-items: center;
}

.titretopnav {
  color: black;
  font-size: 25px;
}

#logoom {
  max-width: 150px;
}

/* fin de la navbar supérieure*/

/* Relatif à la navbar inférieure*/

a {
  text-decoration: none;
}

.listepartenaireelement {
  list-style-type: none;
}

.bottomnav {
  display: flex;
  justify-content: space-around;
  color: black;
  background-color: lightgray;
  flex-shrink: 0;
  width: 100%;
}

.titrebottomnav {
  color: black;
}

footer {
  color: black;
}

.listepartenaire {
  align-items: center;
}
.azer {
  text-decoration: none;
  color: black;
}

/* fin de la navbar inférieure*/
